
<!-- <div #map style="width: 1280px; height: 768px"></div> -->
<div class="mapOne" >
<h3>This is the first custom map</h3>
<app-customizable-map-component appId="SfVZCMMP7oc05mbL7RZE" appCode="dtItdasKG20eQREIraLYLg" lat="37.7397" lng="-121.4252" width="60%" height="400px"></app-customizable-map-component>
</div>

<div class="mapTwo" >
<h3>And my hometown, now coming with binding input properties</h3>
<app-customizable-map-component appId="SfVZCMMP7oc05mbL7RZE" appCode="dtItdasKG20eQREIraLYLg" lat="8.9259" lng="-67.4310" width="60%" height="500px"></app-customizable-map-component>
</div>
