/* Using App Global Styles */
body {
  font-family: 'Dosis', sans-serif;
  background: rgb(235, 232, 231);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

li {
  list-style: none;
}

.fas {
  float: right;
  margin-right: 4%;
  color: rgb(245, 55, 55);
}

.headerTitle {
  text-align: center;
  font-size: 2em;
  height: 34vh;
}

.rootWrapper {
  width: 90%;
  padding: 4%;
  display: flex;
}

.mapWrapper {
  border: 5px solid green;
  width: 50vw;
  background: whitesmoke;

}

.listWrapper {
  width: 30vw;
  margin-left: 8%;
  background: whitesmoke;
  border: 5px solid green;
}


h3 {
  text-align: center;
}

/* app-customizable-map-component{
  background: rgb(162, 162, 219);
  border: 2px solid rgb(44, 223, 44);
} */

.H_ib_body {
  width: 275px;
  background: rgb(233, 101, 53);
  color: whitesmoke;
  font-family: 'Dosis', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}


button {
  font-family: 'Dosis', sans-serif !important;
  font-weight: bold;
  font-size: 1.1em;
  color: #ffffff !important;
  background: orangered;
  padding: 12px;
  border: 4px solid orangered !important;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease 0s;

}

button:hover {
  color: #ffffff !important;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-color: green !important;
  transition: all 0.3s ease 0s;
}

.showBtn {
  float: right;
  margin-right: 4%;
}

.listBtn{
  font-size: 0.8em;

}