/* Using App Global Styles */
body {
  font-family: 'Dosis', sans-serif;
  /* margin-left: 25%; */
}

h3 {
  text-align: center;
}

/* app-customizable-map-component{
  background: rgb(162, 162, 219);
  border: 2px solid rgb(44, 223, 44);
} */

.H_ib_body {
  width: 275px;
  background: rgb(233, 101, 53);
  color: whitesmoke;
  font-family: 'Dosis', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

button {
  display: block;
  border: none;
  background: orangered;
  color: white;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  padding: 3%;
  font-size: 1.2em;

}